* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  max-width: 90%;
}

/* header nav section style */
header {
  margin: 20px auto;
}
.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-ul {
  display: flex;
  gap: 15px;
}
.nav-ul li {
  list-style: none;
}
.li-a-primary-color {
  text-decoration: none;
  color: black;
}
.li-a-second-color {
  text-decoration: none;
  color: rgba(137, 135, 161, 1);
}
.logo {
  margin-left: 40px;
}
.logo-img {
  width: 50%;
  height: 20%;
}

@media screen and (max-width: 576px) {
  /* header nav mobile version */
  .nav-ul li:nth-child(1),
  .nav-ul li:nth-child(2),
  .nav-ul li:nth-child(3) {
    display: none;
  }





  
}
