* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  cursor: pointer;
}
.container {
  max-width: 70%;
}
.btn {
  color: white;
  background-color: rgba(233, 90, 8, 1);
  border: 0px;
  padding: 5px 37.3px;
  font-size: 8px;
  vertical-align: middle;
}

/* header nav section style */
header {
  margin: 20px auto;
}
.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-ul {
  display: flex;
  gap: 20px;
}
.nav-ul li {
  list-style: none;
}
.li-a-primary-color {
  text-decoration: none;
  color: black;
}
.li-a-second-color {
  text-decoration: none;
  color: rgba(137, 135, 161, 1);
}

.logo-img {
  width: 50%;
  height: 20%;
}

/* Header section banner style */
.header-banner-parent-div {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  align-items: self-end;
  height: 45vh;
}
.banner-information-div {
  max-width: 40%;
}
.banner-information-div h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(238, 235, 236);
  margin-bottom: 10px;
  line-height: 40px;
  font-size: 2rem;
}
.banner-information-div h1 span {
  color: rgba(233, 90, 8, 1);
  padding: 80px 0px;
}
.banner-information-div p {
  color: rgba(0, 0, 0, 0.5);
}
.banner-img-div {
  max-width: 50%;
}
.banner-img {
  width: 35vw;
  height: 45vh;
}

/* main section style */
/* section one */
main {
  margin: 10px auto;
}
.main-section-header {
  text-align: center;
  margin: 0px auto;
}
.main-section-header span {
  color: rgba(233, 90, 8, 1);
}
.main-section-header p {
  color: rgba(0, 0, 0, 0.5);
}

/* main section grid section */
.main-section-card-div {
  text-align: center;
  line-height: 18px;
  padding: 10px 0px;
}
.main-section-card-div p {
  font-size: 0.8rem;
}
.main-section-card-div img {
  width: 100%;
}
.main-section-grid-parent-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 20px auto;
}
/* main section middle portion style */

.main-section-middle-parent-div {
  display: flex;
  gap: 70px;
  align-items: center;
  justify-content: space-between;
}
.main-section-middle-parent-div h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main-section-middle-parent-div img {
  width: 100%;
}
.main-section-middle-parent-div ul li {
  margin: 30px 0px;
  color: rgba(0, 0, 0, 0.5);
}
.main-section-middle-portion-div {
  position: relative;
  margin-top: 70px;
}
.logo-seal {
  position: absolute;
  margin: 0px;
  padding: 0px;
  width: 15%;
  bottom: 250px;
  left: 220px;
}

/* main section latest information style */
.main-section-information-latest-div {
  text-align: center;
  margin-top: 50px;
}
.main-section-information-latest-div h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main-section-information-latest-div span {
  color: rgba(233, 90, 8, 1);
}
.main-section-information-latest-div p {
  color: rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  font-size: 1rem;
}
/* main section planet style */
.main-section-flower-plant-parent-div {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5px;
  margin-top: 30px;
}
.Bloom-plant-div {
  background-image: url(./image/deal-bloom.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.Ana-plant-div {
  background-image: url(./image/deal-ana.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.Zabo-plant-div {
  background-image: url(./image/deal-zabo.png);
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 1;
}
.Zabo-plant-div h6 {
  margin-top: 70px;
}
.Bloom-plant-div,
.Ana-plant-div,
.Zabo-plant-div {
  width: 100%;
  padding: 50px 10px;
  border-radius: 10px;
  color: white;
  text-align: center;
}

.Bloom-plant-div a,
.Ana-plant-div a,
.Zabo-plant-div a {
  color: white;
  font-size: small;
}

/* main section input style */
footer{
  margin: 10px auto;
}
.main-input-div{
  background-image: url(./image/news-letter-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50vh;
  text-align: center;
  margin: 20px 0px 20px 0px;
}
.input-div{
   padding-top: 100px;
}
.input-div input{
  border: none;
  padding: 3.3px 100px 3.4px 0px;
  margin-top: 1.2px;
}
.input-div button{
  color: white;
  background-color: rgba(233, 90, 8, 1);
  border: 0px;
  padding: 6px 37.3px;
  font-size: 8px;
  vertical-align: middle;
  margin-top: -1px;
  margin-left: -4px;
}
.main-input-div h1{
  color: white;
  margin-bottom: 10px;
 
}
.input-div input::placeholder{
 text-align:start;
  font-size: 0.6rem;
}
/* footer style */
.footer-parent-div{
  display: flex;
  justify-content:space-between;
}
.logo-img-2{
  width: 40%;
  height: 50%;
  margin-bottom: 10px;
}
.footer-logo-div {
  width: 20%;
}
.footer-logo-div p{
  color:rgba(0, 0, 0, 0.5) ;

}
.footer-parent-div ul li{
  list-style: none;
  margin-top: 10px;
}
.footer-parent-div ul li a{
  text-decoration: none;
  color:rgba(0, 0, 0, 0.5);
  font-size: 0.6rem;
  
}
.icon-div{
  display: flex;
  gap: 10px;
}


/* media query start */

@media screen and (max-width: 576px) {
  /* header nav mobile version */
  .nav-ul li:nth-child(1),
  .nav-ul li:nth-child(2),
  .nav-ul li:nth-child(3) {
    display: none;
  }

  /* header banner section mobile version */
  .container {
    max-width: 90%;
  }
  .header-banner-parent-div {
    flex-direction: column-reverse;
    margin-top: 300px;
  }
  .banner-img-div {
    max-width: 100%;
    box-sizing: content-box;
    margin-bottom: 10px;
  }
  .banner-img {
    width: 100%;
  }
  .banner-information-div {
    max-width: 100%;
  }

  /* main section grid outlet */
  .main-section-header {
    max-width: 60%;
    padding-top: 15px;
  }
  .main-section-grid-parent-div {
    grid-template-columns: repeat(2, 1fr);
  }

  /* main section middle portion */
  .logo-seal {
    display: none;
  }
  .main-section-middle-parent-div {
    flex-direction: column;
  }

  /* main section latest information portion */

  .main-section-information-latest-div {
    max-width: 80%;
    margin: 0px auto;
  }

  /* main section planet portion */
  .main-section-flower-plant-parent-div{
    display: flex;
    flex-direction: column;
  }
 .Zabo-plant-div h6 {
  margin-top: 20px;
} 

/* main section input div */
.main-input-div{
  height: 40vh;
}
/* footer style  */
.footer-parent-div{
  flex-direction: column;
  gap: 10px;
}
.footer-logo-div {
  width: 80%;
}
}
