* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  max-width: 70%;
}

/* header nav section style */
header {
  margin: 20px auto;
}
.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-ul {
  display: flex;
  gap: 20px;
}
.nav-ul li {
  list-style: none;
}
.li-a-primary-color {
  text-decoration: none;
  color: black;
}
.li-a-second-color {
  text-decoration: none;
  color: rgba(137, 135, 161, 1);
}
.logo {
  
}
.logo-img {
  width: 50%;
  height: 20%;
}

/* Header section banner style */
.header-banner-parent-div{
  display: flex;
  justify-content:space-between;
  margin: 10px auto;
  align-items: self-end;
  height: 45vh;
}
.banner-information-div{
  max-width: 40%;
 
  
}
.banner-information-div h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: pink;
  margin-bottom: 10px;
  line-height: 40px;
  font-size: 2rem;
}
.banner-information-div h1 span{
  color:rgba(233, 90, 8, 1);
  padding: 80px 0px;
}
.banner-information-div p{
  color:rgba(0, 0, 0, 0.5);
}
.banner-img-div{
max-width: 50%;
}
.banner-img{
  width: 35vw;
  height: 45vh;
}



@media screen and (max-width: 576px) {
  /* header nav mobile version */
  .nav-ul li:nth-child(1),
  .nav-ul li:nth-child(2),
  .nav-ul li:nth-child(3) {
    display: none;
  }

  /* header banner section mobile version */
 .container {
  max-width: 95%;
}
 .header-banner-parent-div{
  flex-direction:column-reverse;
  margin-top: 300px;
 }
 .banner-img-div{
  max-width: 100%;
  box-sizing: content-box;
  margin-bottom: 10px;
}
.banner-img{
  width: 100%;
}
.banner-information-div{
  max-width: 100%;
 
  
}
 



  
}
